README.txt
1.11/saves*
1.11/MinecraftForge-*
1.11/Paulscode*
1.11/logs*
forge-*-changelog.txt
*-fml.txt
.gradle
1.11/build/
1.11/run/
1.11/out/
1.11/tmp/
1.11/bin/
1.11/crash-reports
1.11/config/
1.11/saves/
1.11/logs
1.11/usercache.json
1.11/usernamecache.json
1.11/options.txt
*.DS_Store


# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
