README.txt
1.11/saves*
1.11/MinecraftForge-*
1.11/Paulscode*
1.11/logs*
forge-*-changelog.txt
*-fml.txt
.gradle
build/
run/
out/
tmp/
bin/
crash-reports
config/
saves/
logs
usercache.json
usernamecache.json
options.txt

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
